.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20rem;
  box-shadow: 0 4px 2px -2px #eceef2;
}

.navigationLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  border-right: 2px solid #eceef2;
  padding-right: 3rem;
}

.pageName {
  color: #a8afb9;
  font-size: 1rem;
  font-weight: 600;
}

.Stages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.stage:nth-child(-n + 2):after {
  content: '-----';
  color: #d0d5dd;
}

.activeStageNumber {
  background-color: #d1fadf;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
}
.inactiveStageNumber {
  background-color: #eaecf0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
}

.stageName {
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  .headerContainer {
    padding: 0;
  }
}
